
<h1 id="login">Log In</h1>
<div id="container-login">

<h3 id="login">¡Hola de nuevo!</h3>


<form id="login" action="/auths/login" method="POST" id="form-container">
  <label for="email">Email<span class="req">*</span></label>
  <input id="email" type="text" name="username" placeholder="JonSnow@gmail.com" value="filogonio@gmail.com">
  <br><br>
  <label for="password">Password<span class="req">*</label>
  <input id="password" type="password" name="password" placeholder="Your password" value="123">
  <p class="forgot"><a href="#">Forgot Password?</a></p>
  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}


  <button>Log In</button>

  <p class="account-message">
    ¿Quieres colaborar?
    <a href="/">Sign Up</a>
  </p>
</form>
</div>