
<h1 >Inicia sesión</h1>
<div class="sigup-container">
{{!-- <h3 id="login">¡Hola de nuevo!</h3> --}}
<form class="box-login" action="/auths/login" method="POST" id="form-container">
  <label for="email">Email<span class="req">*</span></label>
  <input id="email" type="text" name="username" placeholder="JonSnow@gmail.com" value="filogonio@gmail.com">
  <br><br>
  <label for="password">Password<span class="req">*</label>
  <input id="password" type="password" name="password" placeholder="Your password" value="123">
  <p class="forgot"><a href="#">Forgot Password?</a></p>
  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <button type="submit" class="button-signup1">Log In</button>
  <h3 class="h-sign">¿Quieres colaborar?</h3>
  <button class="button-signup1"><a href="/">Sign Up</a></button>
</form>
</div>

    
    