

<h1>Esta es tu area privada {{name}} {{_id}}</h1>
<a id="a-admin" href="/auths/private-admin-New">Crea tu propio proyecto</a>
<img class="img" src="/images/architect.png" alt="">
<br><br>
<a id="a-admin" href="/auths/private-admin-Projects">Gestiona tus proyectos</a>
<img class="img" src="/images/project.png" alt="">
<br><br>
<a id="a-admin" href="/auths/logout">Logout</a>

