<h1>Bienvenido a tu area personal de Colaborador {{name}}</h1>

<div class="area-privada">
    <button class="button-area"><a href="/auths/private-colaborator-Projects">Mira como evoluciona tu proyecto</a></button>
    <button class="button-area"><a href="/auths/logout">Deslogearse</a></button>
</div>