<h1>Bienvenido a tu area personal de Administrador {{name}}</h1>
<div class="area-privada">
    <button class="button-area"><a href="/auths/private-admin-New">Crea tu propio proyecto</a></button>
    <button class="button-area"><a href="/auths/private-admin-Projects">Gestiona tus proyectos</a></button>
    <button class="button-area"><a href="/auths/private-admin-Edit">Edita tu proyecto</a></button>
    <button class="button-area"><a href="/auths/logout">Deslogearse</a></button>
</div>
