<h1>Hola estoy en mi area privada de administrador {{name}} {{_id}}</h1>
<a href="/auths/private-admin-New">Crea tu propio proyecto</a>
<br><br>
<a href="/auths/private-admin-Projects">Gestiona tus proyectos</a>
<br><br>
<a href="/auths/logout">Deslogearse</a>

