<h1>¿Qué quieres hacer?</h1>

<div class="area-typesignup">
    <button class="button-signup"><a href="/projects">¿Colaborar en un proyecto?</a></button>
    <button class="button-signup"><a href="/auths/signupAdmin">¿Crear tu propio proyecto?</a></button>
</div>