<section class="intro">

  <div class="container">
    <img class="index_img" src="/images/pueblopanoramic.jpg" alt="">
  </div>

  <p>Looking for Maecenas es una organización sin ánimo de lucro, que busca la recuperación de la España vaciada a través de proyectos solidarios y colaborativos. Estaremos encantados de que te unas a nosotros siempre y cuando no nos hagas perder el tiempo.
  ..</p>

</section>


<section id="main">
  <article class="article">
  <h3>¿Quieres colaborar?</h3>
  <p>Elige un proyecto</p>
  <a class ="link" href="/projects">Proyectos en marcha</a>
  <img class="img"src="/images/business-and-finance.png" alt="">
</article>

<article class="article">
  <h3>¿Quieres crear un proyecto?</h3>
  <a class ="link" href="/auths/signupAdmin">Crear un proyecto</a>
  <img class="img" src="/images/architect.png" alt="">
</article>

<article class="article">
  <h3> Ver tus proyectos</h3>
  <a class ="link" href="/auths/Login">Ver tu proyecto</a>
  <img class="img" src="/images/project.png" alt="">
</article>
</section>