<div id="intro">


  <div>
    <p>Looking for Maecenas es una organización sin ánimo de lucro, que busca la recuperación de la España vaciada a
      través de proyectos solidarios y colaborativos.<br>
      Estaremos encantados de que te unas a nosotros siempre y cuando
      no
      nos hagas perder el tiempo...</p>
  </div>


</div>
<section id="main">
  <article class="article">
    <h3>¿Quieres colaborar?</h3>
    <p>Elige un proyecto</p>
    <img class="img" src="/images/business-and-finance.png" alt="">

    <a class="link button-projects" href="/projects">Proyectos en marcha</a>
  </article>

  <article class="article">
    <h3>¿Quieres crear un proyecto?</h3>
    <img class="img" src="/images/architect.png" alt="">

    <a class="link button-projects" href="/auths/signupAdmin">Crear un proyecto</a>
  </article>

  <article class="article">
    <h3> Ver tus proyectos</h3>
    <img class="img" src="/images/project.png" alt="">

    <a class="link button-projects" href="/auths/Login">Ver tu proyecto</a>
  </article>
</section>