<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <style>
    #map {
      height: 500px;
      width: 100%;
    }
  </style>

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.sccs">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

</head>


<body>
  <div id="logo-home">
    <img class="nav-logo" src="/images/logo.png" width="100px" alt="">
    <h1 id="looking">Looking for Maecenas</h1>

  </div>
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" href="/projects">Proyectos</a>
        <a class="nav-item nav-link" href="../auths/signup">Signup</a>
        <a class="nav-item nav-link" href="../auths/login">Login</a>
      </div>
    </div>

    <header class="hero"></header>
    </header>
  </nav>


  {{{body}}}
</body>
<footer class='dark-background footer' <ul>
  <section>

    <h5><b>Contact Information</b></h5>

    <address class='address'>
      IronHack <br>
      Paseo de la Chopera, 12<br>
      MAdrid,<br>
      España <br>

    </address>

    <h5>Follow Us</h5>
    <ul>
      <li>
        <a href="https://twitter.com/LMaecenas" target="_blank">Twitter <img id="logo-social"
            src="/images/logos-social/1.png" alt=""></a>
      </li>
      <li>
        <a href="https://www.facebook.com/" target="_blank">Facebook <img id="logo-social"
            src="/images/logos-social/3.png"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank">Instagram <img id="logo-social"
            src="/images/logos-social/4.png"></a>
      </li>
    </ul>
  </section>



  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9669.542706841796!2d-3.6950296905228774!3d40.39365071683574!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xabdd7c33b07aefdb!2sIronhack!5e0!3m2!1ses!2ses!4v1582139302884!5m2!1ses!2ses"
    class="map-frame" frameborder="0" style="border:0" allowfullscreen></iframe>
</footer>

<script src="/javascripts/script.js"></script>
<script src="https://kit.fontawesome.com/6bd48a564f.js" crossorigin="anonymous"></script>

</html>