<h1>Bienvenido a Looking for Maecenas</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium omnis, adipisci dolores, aliquam illum, molestias eum tempora esse eveniet quam soluta temporibus. Vel quasi tempore mollitia placeat, impedit quisquam minima.</p>

<h2>¿Quieres colaborar?</h2>
<p>Elige un proyecto</p>
<a href="/projects">Proyectos en marcha</a>

<h2>¿Quieres crear un proyecto?</h2>
<a href="/auths/Signup">Crear un proyecto</a>

<h2>¿Quires ver como van tus proyectos?</h2>
<a href="/auths/Login">Ver tu proyecto</a>
